langchain==0.3.26
langchain-anthropic==0.3.17
langchain-core==0.3.68
langchain-tavily==0.2.7
langchain-text-splitters==0.3.8
langgraph==0.5.2
langgraph-checkpoint==2.1.0
langgraph-checkpoint-sqlite==2.0.10
langgraph-prebuilt==0.5.2
langgraph-sdk==0.1.72
python-dotenv==1.1.1
tavily-python==0.7.9
yfinance==0.2.65
anthropic>=0.57.0 